@{
    ViewData["Title"] = "UsersList";
}

<h1>Kullanıcılar Listesi</h1>



<table class="table" id="tbuser">
    <thead>
        <tr>
            <th scope="col">SN</th>
            <th scope="col">Ad ve Soyad</th>
            <th scope="col">Kullanıcı Adı</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>


@section Scripts{
    <script src="~/js/JavaScript.js"></script>
}


